body {
  background: #0b4f6c;
}

.post-container {
  margin-top: 100px;
}

.recent-post:hover {
  text-decoration: underline;
}

.hide {
  visibility: hidden;
}

.px-25 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.font-title-12 {
  font-size: 12px;
  font-weight: bold;
}

.px-25 {
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
}

#login {
  margin-top: 10em;
}

.gray_on_hover {
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.gray_on_hover:hover {
  text-decoration: underline;
  color: Gray !important;
}

#pass_validation {
  display: none;
}

.text-red {
  color: #ea0f0b;
}

.text-green {
  color: #2ecf0e;
}
@media (min-width: 992px) {
  .container {
    max-width: 1140px !important;
  }
}
