body {
  background: #0b4f6c;
}

.about-us-home {
  position: absolute;
  right: 15%;
}

.post-container {
  margin-top: 100px;
}

.hide {
  visibility: hidden;
}

.create-a-forum {
  position: absolute;
  right: 15%;
  margin-top: 250px;
}

.font-title-12 {
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 1009px) {
  .create-a-forum {
    margin-top: 270px;
  }
}
/* @media (max-width: 992px) {
  .about-us-home,
  .create-a-forum {
    display: none;
  }
} */

@media (min-width: 992px) {
  .container {
    max-width: 1140px !important;
  }
}
