body {
  background: #0b4f6c;
}

.about-us-home {
  position: fixed;
  right: 15%;
}

@media (max-width: 992px) {
  .about-us-home {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1140px !important;
  }
}
